script(type='text/ng-template', id='home.html')
  .navbar.navbar-default.navbar-static-top
    form.navbar-form
      .hidden-xs.hidden-sm.upload(ng-controller='UploadController')
        span.btn.btn-default.btn-file
          | Upload
          input(type='file', name='csvUpload', ng-file-select='onSelectCsv($files)')
      .checkbox
        label
          input(type='checkbox', ng-model='uiConfig.randomize')
          | Randomize
      .form-group
        label(for='defaultDuration')
          | Default Event Duration
        select.form-control#defaultDuration(ng-model='uiConfig.defaultDuration')
          option(value='15') 15 minutes
          option(value='30') 30 minutes
      .form-group
        label(for='cutoff')
          | Cutoff Time
        select.form-control#cutoff(ng-model='uiConfig.cutoffTime')
          option(value='20') 8pm
          option(value='21') 9pm
          option(value='22') 10pm
          option(value='23') 11pm
      input.btn.btn-default(type='submit', value='Save', ng-click='save()')
      input.btn.btn-default(type='submit', value='Clear', ng-click='clear()')
  .container-fluid
    .col-md-3.hidden-sm.hidden-xs
      .event-count [[events.length]] events
      ul.event-list
        li.ng-scope(ng-repeat='e in events | orderBy:"start"')
          .alert.event-entry.input-group
            .input-group-addon
              button.close(ng-click='remove($index)') x
            input.form-control(type='text', ng-model='e.title')
            .input-group-addon
              span.start [[e.start |date:'hh:mm']]
              | -
              span.end [[e.end |date:'hh:mm']]
    .col-md-9
      div(ng-model='eventSources', ui-calendar='uiConfig.calendar', calendar='calendar')
