doctype html
html
  head
    title= title
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    link(rel='stylesheet', type='text/css', media='screen', href='/components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', type='text/css', media='screen', href='/css/main.css')
    link(rel='stylesheet', type='text/css', media='screen', href='/components/fullcalendar/fullcalendar.css')
    script(type='text/javascript', src='/components/jquery/jquery.js')
    script(type='text/javascript', src='/components/jquery-ui/ui/jquery-ui.js')
    script(type='text/javascript', src='/components/angular/angular.js')
    script(type='text/javascript', src='/components/angular-ui-calendar/src/calendar.js')
    script(type='text/javascript', src='/vendor/angular-ui-router.js')
    script(type='text/javascript', src='/components/fullcalendar/fullcalendar.js')
    script(type='text/javascript', src='/components/fullcalendar/gcal.js')
    script(type='text/javascript', src='/components/ng-file-upload/angular-file-upload.js')
    script(type='text/javascript', src='/components/momentjs/moment.js')
    script(type='text/javascript', src='/components/underscore/underscore.js')
    script(type='text/javascript', src='/js/application.js')
    script(type='text/javascript', src='/js/uploads_controller.js')
    script(type='text/javascript', src='/js/schedule_controller.js')
  body
    #content(ng-app='GtdPanic')
      include partials/home
      div(ui-view)