a {
    color: #666;
}


#content {
    padding: 20px;
}


/** Header **/
#header h1 {
    margin: 0;
    background: #333;
    color: #eee;
    border-bottom: 1px solid rgba(255,255,255,.5);
    font-weight: lighter;
    font-size: 18px;
    padding: 10px 20px;
    text-shadow: 0 0 5px rgba(255,255,255,.5);
}

#header #options {
    position: absolute;
    right: 10px;
    top: 13px;
    font-size: 80%;
    color: #eee;
}

#header #options a {
    color: #eee;
}

/** Table **/

table {
    border-collapse: collapse;
    border: 1px solid #aaa;
    width: 100%;
}

th {
    background: #eee !important;
}

td, th {
    padding: 5px;
    text-align: left;
}

/** Forms **/

.event-list {
    list-style-type: none;
    margin-top: 43px;
}

.event-entry {
    border-bottom: 1px solid lightblue;
}

.event-entry input {
    width: 90%;
}

/** Override Bootstrap **/
.alert {
    padding: 0px;
}