<!DOCTYPE html>

<html>
  <head>
    <title>{{.title}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" media="screen" href="/public/components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/public/css/main.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/public/components/fullcalendar/fullcalendar.css">
    {{range .moreStyles}}
      <link rel="stylesheet" type="text/css" href="/public/{{.}}">
    {{end}}
    <script type="text/javascript" src="/public/components/jquery/jquery.js"></script>
    <script type="text/javascript" src="/public/components/jquery-ui/ui/jquery-ui.js"></script>
    <script type="text/javascript" src="/public/components/angular/angular.js"></script>
    <script type="text/javascript" src="/public/components/angular-ui-calendar/src/calendar.js"></script>
    <script type="text/javascript" src="/public/components/fullcalendar/fullcalendar.js"></script>
    <script type="text/javascript" src="/public/components/fullcalendar/gcal.js"></script>
    <script type="text/javascript" src="/public/components/ng-file-upload/angular-file-upload.js"></script>
    <script type="text/javascript" src="/public/js/application.js"></script>
  </head>
  <body>
    <div id="content" ng-app="GtdPanic">
      <div class="row">
        <div ng-controller="UploadController">
          <input type="file" name="csvUpload" ng-file-select="onSelectCsv($files)" />
        </div>
      </div>
      <div ng-controller="ScheduleController">
        <div class="row">
          <div class="col-md-2">
            <li ng-repeat="e in events" class="ng-scope">
              <div class="alert alert-info ng-binding">
                <button class="close" ng-click="remove($index)">x</button>
                <input ng-model="e.title" class="ng-pristine ng-valid"> - Start - Finish
              </div>
            </li>
          </div>
          <div class="col-md-10">
            <div ng-model="eventSources" ui-calendar="uiConfig.calendar"></div>
          </div>
        </div>
      </div>
