<!DOCTYPE html>

<html>
  <head>
    <title>{{.title}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" media="screen" href="/public/components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/public/css/main.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/public/components/fullcalendar/fullcalendar.css">
    {{range .moreStyles}}
      <link rel="stylesheet" type="text/css" href="/public/{{.}}">
    {{end}}
    <script type="text/javascript" src="/public/components/jquery/jquery.js"></script>
    <script type="text/javascript" src="/public/components/jquery-ui/ui/jquery-ui.js"></script>
    <script type="text/javascript" src="/public/components/angular/angular.js"></script>
    <script type="text/javascript" src="/public/components/angular-ui-calendar/src/calendar.js"></script>
    <script type="text/javascript" src="/public/components/fullcalendar/fullcalendar.js"></script>
    <script type="text/javascript" src="/public/components/fullcalendar/gcal.js"></script>
    <script type="text/javascript" src="/public/components/ng-file-upload/angular-file-upload.js"></script>
    <script type="text/javascript" src="/public/components/momentjs/moment.js"></script>    
    <script type="text/javascript" src="/public/js/application.js"></script>
    <script type="text/javascript" src="/public/js/uploads_controller.js"></script>
    <script type="text/javascript" src="/public/js/schedule_controller.js"></script>

  </head>
  <body>
    <div id="content" ng-app="GtdPanic">
      <div class="row">
        <div ng-controller="UploadController">
          <input type="file" name="csvUpload" ng-file-select="onSelectCsv($files)" />
        </div>
      </div>
      <div ng-controller="ScheduleController">
        <div class="row">
          <label><input type="checkbox" ng-model="uiConfig.randomize">Randomize</label>
          <label for="defaultDuration">Default Event Duration
            <select ng-model="uiConfig.defaultDuration" id="defaultDuration">
              <option value="15">15 minutes</option>
              <option value="30">30 minutes</option>
            </select>
          </label>
          <label for="cutoff">Cutoff Time
            <select ng-model="uiConfig.cutoffTime" id="cutoff">
              <option value="20">8pm</option>
              <option value="21">9pm</option>
              <option value="22">10pm</option>
              <option value="23">11pm</option>
            </select>
          </label>
        </div>
        <div class="row">
          <div class="col-md-3">
            <li ng-repeat="e in events | orderBy:'start'" class="ng-scope">
              <div class="alert event-entry ng-binding">
                <button class="close" ng-click="remove($index)">x</button>
                <input ng-model="e.title" class="ng-pristine ng-valid">
              </div>
            </li>
          </div>
          <div class="col-md-9">
            <div ng-model="eventSources" ui-calendar="uiConfig.calendar" calendar="calendar"></div>
          </div>
        </div>
      </div>
